# Drupal with PostgreSQL
#
# Access via "http://localhost:8080"
#   (or "http://$(docker-machine ip):8080" if using docker-machine)
#
# During initial Drupal setup,
# Database type: PostgreSQL
# Database name: postgres
# Database username: postgres
# Database password: example
# ADVANCED OPTIONS; Database host: postgres

version: '2'

services:
  postgres:
    image: postgres:9.6
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: example
    restart: always

  drupal:
    build: .
    ports:
      - 80:80
    environment:
      XDEBUG_CONFIG: remote_host=docker.for.mac.localhost
    volumes:
      - .:/var/www/html:cached
    restart: always

  mail:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
    restart: always

volumes:
  db:
  sites:
  modules:
  themes: